.productCard {
  background-color: #3f3d3d;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  height: 300px;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemImage {
  max-width: 90%;
}

.itemName {
  font-size: 1.3rem;
  text-align: center;
  padding: 20px 10px 10px;
  font-weight: bold;
}

.itemPrice {
  font-size: 1.3rem;
  text-align: center;
}

.buttonContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  gap: 10px;
}

.changeAmt {
  background-color: #525050;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
  font-weight: bold;
}

.input {
  background-color: #726e6e;
  width: 2rem;
  padding: 4px;
  border-radius: 6px;
}

.addCart {
  background-color: #525050;
  padding: 6px 4px;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 6px;
  cursor: pointer;
}

::placeholder {
  color: #b6b3b3;
  opacity: 1;
}
