.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartDisplay {
  background-color: #3f3d3d;
  width: 50%;
  margin: 100px 300px;
  padding: 50px;
  border-radius: 6px;
}

.cartTitle {
  font-size: 2.6rem;
  border-bottom: 2px solid #242424;
  padding: 20px 20px;
  font-weight: bold;
}

.itemsContainer {
  border-bottom: 2px solid #242424;
  padding: 20px 40px;
}

.itemTitle {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.pricesContainer {
  display: flex;
  justify-content: space-between;
}

.itemPrice,
.totalPrice {
  margin-top: 4px;
  font-size: 1.3rem;
}

.buttonContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 40px;
  gap: 10px;
}

.changeAmt {
  background-color: #525050;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
  font-weight: bold;
}

.input {
  background-color: #726e6e;
  width: 2rem;
  padding: 4px;
  border-radius: 6px;
}

.addCart {
  background-color: #525050;
  padding: 6px 4px;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 6px;
  cursor: pointer;
}

::placeholder {
  color: #b6b3b3;
  opacity: 1;
}

.cartTotal {
  font-size: 1.6rem;
  padding: 20px 20px;
  text-align: end;
}

.cartButtonContainer {
  display: flex;
  gap: 20px;
  justify-content: end;
}

.cartButton {
  background-color: #525050;
  padding: 12px 10px;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}
