.shopContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 4rem;
  text-align: center;
  padding: 50px 0;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 300px;
  padding: 0 200px;
  gap: 20px;
}

.productCard {
  background-color: #3f3d3d;
  display: grid;
  grid-template-rows: 6fr 2fr;
}

.itemImage {
  max-width: 100%;
}
